
<style>
.item1 { grid-area: name; }
.item2 { grid-area: tech_id; }
.item3 { grid-area: tech_field; }
.item4 { grid-area: tech_year; }
.item5 { grid-area: tech_details; }
.item6 { grid-area: tech_vendors; }

.grid-container {
    display: grid;
    grid-template-areas:
    'name name name name name name'
    'tech_id  tech_id tech_field tech_field tech_year tech_year'
    'tech_details tech_details tech_details tech_details tech_details tech_details'
    'tech_details tech_details tech_details tech_details tech_details tech_details'
    'tech_details tech_details tech_details tech_details tech_details tech_details'
    'tech_vendors tech_vendors tech_vendors tech_vendors tech_vendors tech_vendors'
    ;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

</style>